export JAVA_HOME={{ java_home }}
export ZK_SERVER_HEAP={{ zookeeper_heap | regex_replace('m$','') }}
export SERVER_JVMFLAGS="-Xms{{ zookeeper_heap }} -Xmx{{ zookeeper_heap }} -Djava.net.preferIPv4Stack=true"
