[Unit]
Description=Patroni PostgreSQL High Availability
Documentation=https://patroni.readthedocs.io
After=network-online.target zookeeper.service
Wants=network-online.target
# ZooKeeper should be up on this node; the ensemble still needs quorum.
Wants=zookeeper.service

[Service]
Type=simple
User={{ patroni_user }}
Group={{ patroni_group }}
ExecStart={{ patroni_bin }} {{ patroni_config_file }}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
TimeoutSec=30
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
